@import "https://fonts.googleapis.com/css?family=Roboto:300";
* {
  margin: 0;
  padding: 0;
  font: normal 0/1 Roboto, sans-serif; }

html, body, .board-wrap {
  height: 100%; }

html {
  font-size: 1rem;
  background: black; }

body {
  overflow: hidden;
  position: relative;
  background: rgba(181, 136, 99, 0.25); }

h1 {
  font-size: 2rem; }

p {
  font-size: 1rem; }

ul {
  list-style: none; }

button {
  box-sizing: border-box;
  font-size: 1rem;
  background: #b58863;
  color: white;
  padding: 1rem 2rem;
  border: 0;
  -webkit-transition: .25s;
  transition: .25s;
  text-transform: uppercase;
  outline-offset: 2px;
  outline: 2px solid rgba(255, 255, 255, 0);
  cursor: pointer; }
  button:focus, button:active {
    outline: 2px solid rgba(255, 255, 255, 0.5); }

@-webkit-keyframes grow {
  from {
    -webkit-transform: scale(1);
            transform: scale(1); }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5); } }

@keyframes grow {
  from {
    -webkit-transform: scale(1);
            transform: scale(1); }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5); } }

ul.svg {
  display: none; }

.wrap {
  display: table;
  position: relative;
  margin: 0 auto; }
  .wrap .board-wrap {
    position: relative; }
    .wrap .board-wrap canvas {
      height: 100vw;
      max-height: calc(100vh - 80px); }
    .wrap .board-wrap .board {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden; }
      .wrap .board-wrap .board .row {
        position: relative;
        height: calc(100% / 8);
        display: block; }
        .wrap .board-wrap .board .row .square {
          position: relative;
          display: inline-block;
          width: calc(100% / 8);
          height: 100%;
          background: #f0d9b5; }
          .wrap .board-wrap .board .row .square:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: transparent;
            -webkit-transition: .25s;
            transition: .25s; }
          .wrap .board-wrap .board .row .square.active:before {
            background: rgba(255, 255, 0, 0.25); }
          .wrap .board-wrap .board .row .square.active.friend:before {
            background: transparent; }
          .wrap .board-wrap .board .row .square.active.foe:before {
            background: rgba(0, 255, 0, 0.25); }
          .wrap .board-wrap .board .row .square .piece {
            position: absolute;
            width: 100%;
            height: 100%; }
            .wrap .board-wrap .board .row .square .piece path:hover {
              cursor: -webkit-grab;
              cursor: grab; }
        .wrap .board-wrap .board .row:nth-child(odd) .square:nth-child(even), .wrap .board-wrap .board .row:nth-child(even) .square:nth-child(odd) {
          background: #b58863; }
      .wrap .board-wrap .board > .piece {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% / 8);
        height: calc(100% / 8);
        -webkit-transform: none;
                transform: none;
        cursor: -webkit-grab;
        cursor: grab; }
        .wrap .board-wrap .board > .piece.active {
          cursor: -webkit-grabbing;
          cursor: grabbing;
          z-index: 1;
          -webkit-transform: scale(1.5);
                  transform: scale(1.5);
          -webkit-animation: grow .25s;
                  animation: grow .25s; }
        .wrap .board-wrap .board > .piece.transit {
          -webkit-transition: .25s;
          transition: .25s; }
  .wrap footer {
    position: relative;
    width: 100%;
    border-spacing: 2rem 1rem;
    background: rgba(0, 0, 0, 0.25);
    display: table; }
    .wrap footer .cell:nth-child(2) {
      width: 100%; }

.cell {
  position: relative;
  display: table-cell; }

.captured {
  position: absolute; }
  .captured .row {
    table-layout: fixed;
    overflow: hidden;
    height: 20px; }
    .captured .row:not(:first-child) {
      margin-top: 8px; }
    .captured .row .piece {
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle; }
