* {
  margin: 0;
  padding: 0; }

body {
  font: normal 0/1 sans-serif;
  overflow: hidden;
  background: black; }

h1 {
  font-size: 2rem; }

p {
  font-size: 1rem; }

ul {
  list-style: none; }

.board-wrap {
  display: table;
  position: relative;
  left: 50vw;
  top: 50vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .board-wrap canvas {
    width: 100vh;
    max-width: 100vw; }
  .board-wrap .board {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .board-wrap .board .row {
      position: relative;
      height: calc(100% / 8);
      display: block; }
      .board-wrap .board .row .square {
        position: relative;
        display: inline-block;
        width: calc(100% / 8);
        height: 100%;
        background: #f0d9b5; }
      .board-wrap .board .row:nth-child(odd) .square:nth-child(even), .board-wrap .board .row:nth-child(even) .square:nth-child(odd) {
        background: #b58863; }
  .board-wrap .piece {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% / 8);
    height: calc(100% / 8);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .board-wrap .piece:hover {
      cursor: -webkit-grab;
      cursor: grab; }
    .board-wrap .piece.active {
      cursor: -webkit-grabbing;
      cursor: grabbing;
      z-index: 1; }
    .board-wrap .piece.white.king {
      background-image: url(../img/white-king.svg); }
    .board-wrap .piece.white.queen {
      background-image: url(../img/white-queen.svg); }
    .board-wrap .piece.white.bishop {
      background-image: url(../img/white-bishop.svg); }
    .board-wrap .piece.white.knight {
      background-image: url(../img/white-knight.svg); }
    .board-wrap .piece.white.rook {
      background-image: url(../img/white-rook.svg); }
    .board-wrap .piece.white.pawn {
      background-image: url(../img/white-pawn.svg); }
    .board-wrap .piece.black.king {
      background-image: url(../img/black-king.svg); }
    .board-wrap .piece.black.queen {
      background-image: url(../img/black-queen.svg); }
    .board-wrap .piece.black.bishop {
      background-image: url(../img/black-bishop.svg); }
    .board-wrap .piece.black.knight {
      background-image: url(../img/black-knight.svg); }
    .board-wrap .piece.black.rook {
      background-image: url(../img/black-rook.svg); }
    .board-wrap .piece.black.pawn {
      background-image: url(../img/black-pawn.svg); }
