doctype
html
    head
        title Chess
        link(rel="stylesheet" type="text/css" href="css/index.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body
        .wrap
            .board-wrap
                canvas(width=1 height=1)
                ul.board
                    -var y = 8;
                    while y --
                        ul.row
                            -var x = 8;
                            while x --
                                li.square
            footer
                .cell
                    button Reset
                .cell
                    .captured
                        .white.row
                        .black.row
        script(src="js/index.js")
