@import "https://fonts.googleapis.com/css?family=Roboto:300";

$color-square-light: #f0d9b5;
$color-square-dark: #b58863;

* {
    margin: 0;
    padding: 0;
    font: normal 0/1 Roboto, sans-serif;
}

html, body, .board-wrap {
    height: 100%;
}

html {
    font-size: 1rem;
    background: black;
}

body {
    overflow: hidden;
    position: relative;
    background: rgba($color-square-dark, .25);
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

ul {
    list-style: none;
}

button {
    box-sizing: border-box;
    font-size: 1rem;
    background: $color-square-dark;
    color: white;
    padding: 1rem 2rem;
    border: 0;
    transition: .25s;
    text-transform: uppercase;
    outline-offset: 2px;
    outline: 2px solid rgba(white, 0);
    cursor: pointer;
    // &:hover {
    //
    //     background: red;//$color-square-light;
    // }
    &:focus, &:active {
        outline: 2px solid rgba(white, .5);
    }
}

@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

ul.svg {
    display: none;
}

.wrap {
    display: table;
    position: relative;
    margin: 0 auto;
    .board-wrap {
        position: relative;
        canvas {
            height: 100vw;
            max-height: calc(100vh - 80px);
        }
        .board {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            .row {
                position: relative;
                height: calc(100% / 8);
                display: block;
                .square {
                    position: relative;
                    display: inline-block;
                    width: calc(100% / 8);
                    height: 100%;
                    background: $color-square-light;
                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        background: transparent;
                        transition: .25s;
                    }
                    &.active {
                        &:before {
                            background: rgba(yellow, .25);
                        }
                        &.friend:before {
                            background: transparent; // rgba(red, .25);
                        }
                        &.foe:before {
                            background: rgba(lime, .25);
                        }
                    }
                    .piece {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        path {
                            &:hover {
                                cursor: grab;
                            }
                        }
                    }
                }
                &:nth-child(odd) .square:nth-child(even), &:nth-child(even) .square:nth-child(odd) {
                    background: $color-square-dark;
                }
            }
            > .piece {
                position: absolute;
                top: 0;
                left: 0;
                width: calc(100% / 8);
                height: calc(100% / 8);
                transform: none;
                cursor: grab;
                &.active {
                    cursor: grabbing;
                    z-index: 1;
                    transform: scale(1.5);
                    animation: grow .25s;
                }
                &.transit {
                    transition: .25s;
                }
            }
        }
    }
    footer {
        position: relative;
        width: 100%;
        border-spacing: 2rem 1rem;
        background: rgba(black, .25);
        display: table;
        .cell:nth-child(2) {
            width: 100%;
        }
    }
}

.cell {
    position: relative;
    display: table-cell;
    // vertical-align: middle;
}

.captured {
    position: absolute;
    .row {
        table-layout: fixed;
        overflow: hidden;
        height: 20px;
        &:not(:first-child) {
            margin-top: 8px;
        }
        .piece {
            width: 20px;
            height: 20px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.piece {
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // &.white {
    //     &.king {
    //         background-image: url(../img/white-king.svg);
    //     }
    //     &.queen {
    //         background-image: url(../img/white-queen.svg);
    //     }
    //     &.bishop {
    //         background-image: url(../img/white-bishop.svg);
    //     }
    //     &.knight {
    //         background-image: url(../img/white-knight.svg);
    //     }
    //     &.rook {
    //         background-image: url(../img/white-rook.svg);
    //     }
    //     &.pawn {
    //         background-image: url(../img/white-pawn.svg);
    //     }
    // }
    // &.black {
    //     &.king {
    //         background-image: url(../img/black-king.svg);
    //     }
    //     &.queen {
    //         background-image: url(../img/black-queen.svg);
    //     }
    //     &.bishop {
    //         background-image: url(../img/black-bishop.svg);
    //     }
    //     &.knight {
    //         background-image: url(../img/black-knight.svg);
    //     }
    //     &.rook {
    //         background-image: url(../img/black-rook.svg);
    //     }
    //     &.pawn {
    //         background-image: url(../img/black-pawn.svg);
    //     }
    // }
}
